@model ProjectFirst.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="bg-dark rounded">
        <p class="nav-link text-white" style="font-size:20px;">Category &nbsp;<i class="fas fa-chevron-right"></i> Create</p>
    </div>
    <div>
        <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active btn-outline-info" id="create-tab" data-toggle="tab" href="#Create" role="tab" aria-controls="create" aria-selected="true">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-info" id="index-tab" data-toggle="tab" href="#Index" role="tab" aria-controls="index" aria-selected="true">Index</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="productstabcontent">
        <div class="tab-pane fade show active" id="Create" role="tabpanel" aria-labelledby="create-tab">
            <br />
            <div class="row">
                <div class="col-md-4">
                    @using (Html.BeginForm("Create", "Categories"))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">CategoryName</label>
                            <input name="CategoryName" class="form-control" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">DisplayOrder</label>
                            <input name="DisplayOrder" class="form-control" />
                            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    }
                    </div>
                </div>
            </div>
            
        </div>

    <div id="Index" class="tab-pane fade" role="tabpanel" aria-labelledby="index-tab">
        @Html.ActionLink("Index", "Categories")

    </div>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
