@model ProjectFirst.Models.DeliveryInformation

@{
    ViewData["Title"] = "Create";
}
@using (Html.BeginForm("Create", "DeliveryInformations")) {
    <h2>Create</h2>

<h4>DeliveryInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ClientID</label>
                <select asp-for="ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
            </div>
            <div class="form-group">
                <label class="control-label">DeliverymansID</label>
                <input name="DeliverymansID" class="form-control" />
                <span asp-validation-for="DeliverymansID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Signature</label>
                <input name="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
